
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(2, 74, 104, .8);
    padding-left: 30px;
    padding-right: 30px;
}

.nav-item {
    line-height: 50px;
    vertical-align: middle;
    color: #eee;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    margin-right: 25px;
    margin-left: 25px;
}

#home {
    font-size: 30px;
}

#revo {
    width: 100%;
}

.w25 {
    max-width: 25% !important;
}

.w50 {
    max-width: 50% !important;
}

.w75 {
    max-width: 75% !important;
}

.border {
    border: 2px solid black;
}

#main {
    position: relative;
    min-height: 400px;
    background-image: url('/images/banner.jpg');
    background-size: cover; 
    z-index: -1;
}

.main-footer {
    min-height: 70px;
    text-align: center;
    line-height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav-item:visited {
    color: #eee;
}

.nav-item:hover {
    color: #ccc;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.project-label {
    padding: 10px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: #eee;
}

.acronym {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border-right: 2px solid black;
    margin-right: 20px;
    font-size: 30px;
    text-align: right;
}

.full-description {
    vertical-align: top;
    margin-top: 5px;
    display: inline-block;
    text-align: left;
}

.description {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    min-height: 200px;
}

.text-box {
    font-size: 20px;
}

.small-text {
    font-size: 20px;
    font-weight: 300;
}

.medium-text {
    font-size: 30px;
    font-weight: 300;
}

.large-text {
    font-size: 40px;
    font-weight: 300;
}

.bold {
    font-weight: bold !important;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

.arrow {
    cursor: pointer;
}

img_wrapper {
    text-align: center;
}

.logo {
    margin: 20px;   
}

.text-block {
    max-width: 1000px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.nomb {
    margin-bottom: -20px;
}

.blue-text {
    color: rgba(2, 74, 104, .8)
}