doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title {{ page.title }}
    meta(name='viewport', content='width=device-width')

    //jquery
    script(type='text/javascript', src='/javascript/jquery.min.js')

    //custom js
    script(type='text/javascript' src='/javascript/default.js')

    // syntax highlighting CSS 
    link(rel='stylesheet', href='/css/simplegrid.css')
    link(rel='stylesheet', href='/css/syntax.css')
    link(rel='stylesheet', href='/css/custom.css')
    
    // Custom CSS 
    link(rel='stylesheet', href='/css/main.css')
  body
    nav.nav
        a.nav-item.left#home(href='/') REVO
        span.right
            a.nav-item(href='/projects') PROJECTS
            a.nav-item(href='/sponsors') SPONSORS
            a.nav-item(href='/team') TEAM
            a.nav-item(href='/blog') BLOG