doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title {{ page.title }}
    meta(name='viewport', content='width=device-width')

    //jquery
    script(type='text/javascript', src='{{site.url}}/javascript/jquery.min.js')

    //onepage-scroll
    script(type='text/javascript', src='{{site.url}}/javascript/jquery.onepage-scroll.min.js')

    //custom js
    script(type='text/javascript' src='{{site.url}}/javascript/default.js')

    // syntax highlighting CSS 
    link(rel='stylesheet', href='{{site.url}}/css/onepage-scroll.css')
    link(rel='stylesheet', href='{{site.url}}/css/simplegrid.css')
    link(rel='stylesheet', href='{{site.url}}/css/syntax.css')
    link(rel='stylesheet', href='{{site.url}}/css/custom.css')
    
    // Custom CSS 
    link(rel='stylesheet', href='/css/main.css')
  body
    div.main
        section
            nav.nav
                a.nav-item.left#home(href='/') REVO
                span.right
                    a.nav-item(href='http://olinrevo.dozuki.com') PROJECTS
                    a.nav-item(href='/team') TEAM
                    a.nav-item(href='http://olinrevo.tumblr.com') BLOG
                    div.text-center
            div.image-header
                span.one-quarter
                    img.team-image(src='/images/team/re_chassis.jpg')
                    span.img-title Chassis
                span.one-quarter
                    img.team-image(src='/images/team/re_powertrain.jpg')
                    span.img-title Powertrain
                span.one-quarter
                    img.team-image(src='/images/team/re_sensing.jpg')
                    span.img-title Sensing
                span.one-quarter
                    img.team-image(src='/images/team/re_external.jpg')
                    span.img-title External
            div.large-text.text-center SUBTEAMS
                div.medium-text.horizontal-padding.
                    Biodiesel art party roof party. Tonx keffiyeh fashion axe whatever skateboard beard McSweeney's kogi Odd Future fixie VHS. Deep v polaroid Carles, you probably haven't heard of them hella meh sustainable XOXO keffiyeh distillery Marfa organic irony. Post-ironic cray iPhone Intelligentsia. Pinterest gentrify lomo bitters, biodiesel synth cornhole food truck Wes Anderson asymmetrical hashtag American Apparel. Keytar Cosby sweater slow-carb paleo PBR quinoa. Keffiyeh Pinterest brunch, chambray chillwave before they sold out American Apparel banh mi PBR&B forage Intelligentsia Portland retro Austin cred. 

            div.main-footer
                div.medium-text. CHASSIS
                img.arrow(src='/images/icons/arrow.png')
        section.blue-background
            div.image-header
                span.one-third
                    img.team-image(src='/images/team/chassis/re_design.jpg')
                    span.img-title.no-hover Design
                span.one-third
                    img.team-image(src='/images/team/chassis/re_fabricate.jpg')
                    span.img-title.no-hover Fabricate
                span.one-third
                    img.team-image(src='/images/team/chassis/re_innovate.jpg')
                    span.img-title.no-hover Innovate
            div.large-text.text-center CHASSIS
                div.medium-text.horizontal-padding.
                    The Chassis team focuses on making the mechanical parts of our vehicles safe and efficient.

            div.main-footer
                div.medium-text. POWERTRAIN
                img.arrow(src='/images/icons/arrow_white.png')
        section
            div.image-header
                span.one-third
                    img.team-image(src='/images/team/powertrain/re_motor-controller.jpg')
                    span.img-title.no-hover Motor Controller
                span.one-third
                    img.team-image(src='/images/team/powertrain/re_batteries.jpg')
                    span.img-title.no-hover Batteries
                span.one-third
                    img.team-image(src='/images/team/powertrain/re_transmission.jpg')
                    span.img-title.no-hover Transmission
            div.large-text.text-center POWERTRAIN
                div.medium-text.horizontal-padding.
                    The Powertrain team is the most electrically inclined and interdisciplinary of sub teams. Powertrain focuses on making working, reliable power systems for all of our vehicles.

            div.main-footer
                div.medium-text. SENSING
                img.arrow(src='/images/icons/arrow.png')
        section.blue-background
            div.image-header
                span.one-third
                    img.team-image(src='/images/team/sensing/re_electronics.jpg')
                    span.img-title.no-hover Electronics
                span.one-third
                    img.team-image(src='/images/team/sensing/re_analysis.jpg')
                    span.img-title.no-hover Analysis
                span.one-third
                    img.team-image(src='/images/team/sensing/re_interface.jpg')
                    span.img-title.no-hover User Interface
            div.large-text.text-center SENSING
                div.medium-text.horizontal-padding.
                    The Sensing team keeps the driver well-informed of the current state of the vehicle, and to control the vehicle based on driver input.

            div.main-footer
                div.medium-text. EXTERNAL
                img.arrow(src='/images/icons/arrow_white.png')


        section
            div.image-header
                span.one-third
                    img.team-image(src='/images/team/external/re_design.jpg')
                    span.img-title.no-hover Design
                span.one-third
                    img.team-image(src='/images/team/external/re_presentation.jpg')
                    span.img-title.no-hover Presentation
                span.one-third
                    img.team-image(src='/images/team/external/re_outreach.jpg')
                    span.img-title.no-hover Outreach

            div.large-text.text-center EXTERNAL
                div.medium-text.horizontal-padding.
                    The External team of REVO tries to make the world aware of the awesome work our members are doing. Our goal here is two-fold: get resources for REVO's many projects and get students hired into industry-leading clean transportation or tech companies.

            div.main-footer
                div.medium-text. MEET THE TEAM
                img.arrow(src='/images/icons/arrow.png')

        section.blue-background

            div.large-text.text-center THE PEOPLE BEHIND REVO
            div.people
                img.person(src='/images/people/re_Adit1.JPG')
                img.person(src='/images/people/re_Ambika1.JPG')
                img.person(src='/images/people/re_Ankur1.JPG')
                img.person(src='/images/people/re_Carly1.JPG')
                img.person(src='/images/people/re_ChrisL1.JPG')
                img.person(src='/images/people/re_Derek1.JPG')
                img.person(src='/images/people/re_Doyung1.JPG')
                img.person(src='/images/people/re_Emily1.JPG')
                img.person(src='/images/people/re_Filippos1.JPG')
                img.person(src='/images/people/re_Grace1.JPG')

            div.main-footer
                img.arrow(src='/images/icons/arrow_white.png')

        section.blue-background

            div.large-text.text-center THE PEOPLE BEHIND REVO
            div.people

                img.person(src='/images/people/re_JamesJ1.JPG')
                img.person(src='/images/people/re_JamesN1.JPG')
                img.person(src='/images/people/re_Jay1.JPG')
                img.person(src='/images/people/re_Jazmin1.JPG')
                img.person(src='/images/people/re_John1.JPG')
                img.person(src='/images/people/re_Louis1.JPG')
                img.person(src='/images/people/re_Luke1.JPG')
                img.person(src='/images/people/re_Meg1.JPG')
                img.person(src='/images/people/re_Pratool1.JPG')
                img.person(src='/images/people/re_Riley1.JPG')

            div.main-footer
                img.arrow(src='/images/icons/arrow_white.png')

        section.blue-background

            div.large-text.text-center THE PEOPLE BEHIND REVO
            div.people

                img.person(src='/images/people/re_Saarth1.JPG')
                img.person(src='/images/people/re_Sean1.JPG')
                img.person(src='/images/people/re_Sophie1.JPG')



